body {
    background-color: #d06fa9;
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #23c870;
    color: #fff;
    font-size: 1.8rem; /* Modified font size */
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}
.btn{
    font-size: 1.6rem;
    margin: 25px;
}
#word {
    background-color: #3dc342;
}

#countdown {
    font-size: 1.8rem;
    font-weight: bold;
}

#letters {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* This makes the container square */
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0.5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 0.25rem;
}

.individual {
    width: 100%;
    aspect-ratio: 1 / 1; /* This makes the individual cells square */
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5rem; /* Modified font size */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
#word {
    display: flex;
    justify-content: space-between; /* Aligns items to the start and end of the container */
    align-items: center; /* Centers items vertically */
}

#word-text {
    margin: 0 auto; /* Centers the word horizontally */
}


.selected {
    background-color: plum;
}

.found {
    background-color: rgb(237, 71, 71);
}
.card{
    font-size: 1.5rem;
}
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c4c3d1;
    color: #721c24;
    padding: 20px;
    border: 1px solid #dac6f5;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    max-width: 300px;
    width: 90%;
    text-align: center;
    z-index: 9999;
}

.start-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e4cdac;
    color: #151515;
    padding: 20px;
    border: 1px solid #dac6f5;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(213, 198, 198, 0.2);
    font-family: Arial, sans-serif;
    max-width: 300px;
    width: 90%;
    text-align: center;
    z-index: 9999;
}

.custom-alert button,
.start-alert button {
    padding: 10px 20px;
    background-color: #3551dc;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}

.start-alert button:hover,
.custom-alert button:hover {
    background-color: #23c870;
}
